* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial;
  margin: 0;
  padding: 70px 24px 100px 96px;
  background-color: rgb(247, 247, 247);
}
 
/* ******* side bar styles ********** */

@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 70px;
    z-index: 200;
    padding-top: 5px;
  }
  .sidebarlink {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  .sidebarlink:hover {
    background-color: rgb(226, 222, 222);
  }
  .sidebarlink img {
    height: 24px;
    margin-bottom: 4px;
  }
  .sidebarlink div {
    font-size: 10px;
  }  
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 70px;
  z-index: 200;
  padding-top: 5px;
}
.sidebarlink {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebarlink:hover {
  background-color: rgb(226, 222, 222);
}
.sidebarlink img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebarlink div {
  font-size: 10px;
}  


